.container{
    padding-left: 1rem;
    padding-right: 1rem;
}


.division-user {
    border: 1px solid rgb(172, 172, 172);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    text-align: left!important;
}

span {
    font-size: 1.5rem;
}

.user-info {
    flex-grow: 1; /* El contenido se expandirá para ocupar el espacio disponible */
}

.user-buttons {
    display: flex;
    gap: 0.5rem; /* Espaciado entre los botones */
}

.bloqueado {
    background-color: grey; /* Cambia el color de fondo a gris cuando el usuario está bloqueado */
    /* Otros estilos aplicados cuando el usuario está bloqueado */
    color: rgb(184, 184, 184);
}
.desbloquear{
    background-color: green;
}

.titulo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.titulo button {
    margin-bottom: 15px;
}
