<div class="container">
    <h2 class="titulo-principal">Panel administrador</h2>
    <div class="division">
        <button mat-fab extended color="warn" [routerLink]="['/ver-reportes']">
            VER REPORTES
        </button>
        <button mat-fab extended color="warn" [routerLink]="['/gestion-vehiculos']">
            GESTION VEHICULOS
        </button>
        <button mat-fab extended color="warn" [routerLink]="['/gestion-personas']">
            GESTION PERSONAS
        </button>
    </div>
</div>